# Python仮想環境
.venv/
venv/
ENV/
env/

# Python関連
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# エディタ関連
.idea/
.vscode/
*.swp
*.swo
*~

# OS関連
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Pyxel関連
*.pyxres.bak

# ログファイル
*.log 
